{% extends 'base.html.twig' %}

{% block title %}FabLab Test - Home{% endblock %}

{% block body %}


<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur FabLab Test</h1>
        <p class="lead">FabLab Test est une version test du futur site juste pour m'entraîner</p>
        <hr class="my-4">
        <p>Rendez-vous sur la page de connexion pour l'entraînement à la connexion</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Connexion</a>
    </div>


</div>
{% endblock %}
